body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 50px; /* Ajusta el tamaño del logo según sea necesario */
  margin-right: 20px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

ul li {
  margin: 0 10px;
}

ul li a {
  text-decoration: none;
  color: #333;
}

ul li a:hover {
  color: #007bff;
}

.home-header {
  text-align: center;
  padding: 50px;
}

.scroll-button {
  background-color: #7B4436;
  color: #FFECD6;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 20px;
  font-weight: bold;
}

.scroll-button:hover {
  background-color: #005f5f;
}

.home-content {
  padding: 50px;
  background-color: #f9f9f9;
  text-align: center;
}

.home-footer {
  padding: 20px;
  background-color: #333;
  color: white;
  text-align: center;
}